/* Dados */
.dados{
  background: #F3F8FF;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.link-bem-estar{
  display: flex;
  align-items: center;
  border: #4578F9 solid 1px;
  border-radius: 100px;
  height: 10px;
  padding: 1rem;
}

.bem-estar::after{
  content: "➜";
  cursor: pointer;
  margin-left: 0.5rem;
}

.diferent-blue{
  color: #1C5CFF;
}

.descrição{
  font-size: 18px;
  text-align: center;
  color: #858585;
  width: 40rem;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5rem;
  margin-top: 3rem;
}

.btn-main{
  border-radius: 30px;
  width: 11rem;
  height: 2.5rem;
  font-size: 16px;
}

.saiba-mais{
  color: #3E3D3D;
  width: 11rem;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saiba-mais::after{
  content: "➜" ;
  margin-left: 0.5rem;
  cursor: pointer;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  padding: 2rem;
  border-radius: 20px;
  min-width: 15rem;
  font-size: 1.4em;
  color: #A3A3A3;
  box-shadow: 0 0 8px 0.1px rgba(0, 0, 0, 0.3);
}

.card:hover{
  scale: 1.02;
  transition: all 0.3s ease-in-out;
}

.title-card{
  font-size: 30px;
  color: #373737;
  margin: 0px;
}

/* Projeto */

.projeto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: left;
}

.grid-card{
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8rem 3rem;
  transform: scale(0.91);
}

.cards-horizontais{
  display: inline-block;
  height: 14rem;
  width: 29rem;
  padding: 35px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.svg{
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem ;
  background: #D9E4FF;
}

.card-IA-assistente{
  width: 58rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  color: #686868;
  display: block;
  justify-content: left;
  background: #F2F6FF;
}

.card-IA-assistente h1{
  text-align: left;
}

.verificado{
  list-style: none;
}
.ul{
  padding: 0;
}
.verificado::before{
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../svgs/Verificado.svg);
  background-size: cover;
  margin-right: 1rem;
}

.btn-IA{
  width: 16rem;
  padding: 1rem;
  margin-top: 2rem;
}