/* Estilos globais avaliações main*/
.avaliacoes {
  padding: 5rem 0 3rem 0;
  text-align: center;
  width: 100vw;
  justify-self: center;
}

.avaliacoes-container {
  margin-bottom: 5rem;
}

.avaliacao-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.avaliacao-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.avatar-pequeno {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: var(--background-color);
  object-fit: cover;
}

.nome-avaliacao {
  color: var(--primary-color);
  font-weight: bold;
  max-width: 150px;
}

.estrelas-pequenas {
  display: flex;
}

.estrela-pequena {
  color: #ccc;
}

.estrela-pequena.active {
  color: var(--secondary-color);
}

.comentario-avaliacao {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-weight: bold;
  line-height: 1.5;
  word-break: break-word;
  max-width: 80%;
  overflow-y: auto;
  margin: 0;
}

.sem-avaliacoes {
  text-align: center;
  color: var(--text-color);
  padding: 2rem 0;
}

.button-outline {
  font-weight: bold;
  color: var(--text-evidence-color);
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
}

.button-outline:hover {
  opacity: 0.9;
}

.button-avaliar {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

/* Modal Avaliação usuário */
.modal-content form {
  gap: 10px;
}

.rating-container {
  display: flex;
  justify-content: center;
}

.estrelas-selecao {
  display: flex;
  flex-direction: row;
}

.estrela-selecao {
  color: #ccc;
  font-size: 30px;
  margin: 0 5px;
  cursor: pointer;
  transition: color 0.2s, transform 0.2s;
}

.estrela-selecao.active {
  color: var(--secondary-color);
}

.estrela-selecao:hover {
  transform: scale(1.02);
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.form-group textarea {
  resize: none;
  background: transparent;
  width: 100%;
  padding: 12px;
  font-size: 1.3rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow-y: auto;
}

.modal-content button{
  width: 10rem;
}

.login-alert {
  color: var(--logout-color);
  text-align: center;
}

/* Modal todas as Avaliações */
.modal-todas {
  max-height: 80vh;
  overflow-y: auto;
  justify-content: start;
  gap: 2rem;
}

.todas-avaliacoes-container {
  display: grid;
  gap: 1rem;
}

.modal-todas .avaliacao-item {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 1rem;
}

/* Animaçoes */
@keyframes modalIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Responsividade Desktop */
@media screen and (min-width:1024px) {
  /* avaliacoes main */
  .avaliacoes h1 {
    margin-bottom: 5rem;
  }

  .avaliacoes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 5rem;
  }

  .avaliacoes-botoes {
    display: flex;
    justify-content: center;
    gap: 3rem;
    scale: 1.2;
  }

  .avaliacao-item {
    min-width: 94%;
    margin: auto;
  }

  .nome-avaliacao {
    font-size: 20px;
  }

  .estrela-pequena {
    font-size: 35px;
  }

  .comentario-avaliacao {
    height: 80px;
  }

  .button-outline {
    font-size: 16px;
  }

  /* Todas avaliacoes */
  .modal-todas {
    max-width: 75%;
  }
}

/* Responsividade Mobile */
@media screen and (max-width:1023px) {
  /* avaliações main */
  .avaliacoes h1 {
    margin-bottom: 3rem;
  }

  .avaliacoes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .avaliacao-item {
    width: 84%;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 1rem;
  }

  .avaliacoes-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    scale: 1.2;
  }

  .button-avaliar {
    width: 12rem;
  }
  
  .estrela-pequena {
    font-size: 35px;
  }
  
  /* avaliçãos usuário */
  .modal-content {
    width: 70%;
  }
  /* todas avalições */

}